body {
    transition: background-color 0.3s, color 0.3s;
    background-color: #ffffff;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    transition: background-color 0.3s;
}

body.dark-mode nav {
    background-color:  #1c1c1c;
    color: #ffffff;
}

body.dark-mode footer {
    background: linear-gradient(to right, #212529, #000, #6c757d);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 20px;
    gap: 20px;
}

body.dark-mode .footer-content {
    color: #ffffff; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

body.dark-mode footer p,
body.dark-mode footer span,
body.dark-mode footer a,
body.dark-mode footer .phone {
    color: #ffffff; 
}

body.dark-mode footer .icon-box i,
body.dark-mode footer .phone i {
    color: #ffffff; 
}

body.dark-mode .mapContainer {
    background-color: white !important;
    color: black !important;
}

body.dark-mode .faq-button {
    background-color: #1c3a32;
    color: #ffffff;
}

body.dark-mode .faq-button:hover{
    background-color: #333;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

#darkModeToggle {
    display: none;
}

.toggle-label {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ddd;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-ball {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun-icon, .moon-icon {
    width: 16px;
    height: 16px;
}

.sun-icon {
    display: block;
}

.moon-icon {
    display: none;
}

body.dark .sun-icon {
    display: none;
}

body.dark .moon-icon {
    display: block;
}

#darkModeToggle:checked + .toggle-label {
    background-color: #4d4d4d;
}

#darkModeToggle:checked + .toggle-label .toggle-ball {
    transform: translateX(30px);
}

.notification-box {
    position: fixed;
    bottom: -100px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #089a5b;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 1000;
    transition: all 0.5s ease-in-out; 
    display: flex; 
    align-items: center;
    gap: 10px; 
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.notification-box.show {
    bottom: 30px; 
    opacity: 1;
}

.notification-box:hover {
    background-color: #0eab65;
    cursor: pointer;
}

body.dark-mode .notification-box{
    background-color: #333333;
    color: #ffffff;
}